.BackgroundSystem
{
	background-image:url(webapp/defaultdesktop.png);
}

.qxAboutLogo
{
	background-image:url(startup/logo.png);
	background-repeat:no-repeat;
	background-position:center center;	
	background-size: 128px 128px;
	width: 128px;
	height: 128px;	
}

.qxIcon
{
	background-image:url(webapp/ico.png);
	background-repeat:no-repeat;
	background-position:center center;	
	background-size: 16px 16px;
	width: 16px;
	height: 16px;	
}

.mnu_preferences
{
	background-image:url(webapp/Preferences.png);
}

.new
{
	background-image: url(webapp/new.png)
}

.bridge
{
	background-image: url(webapp/bridge.jpg);
	border: 1px solid black;
	background-repeat:no-repeat;
	background-position:center center;	
	background-size: 250px 141px;
}

.map_ico
{
	background-image: url(webapp/map_32.png)
}